body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

nav {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 30px;
}

form input, textarea {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px 15px;
    background: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}